*{
    margin:0px;
}
header{
    height: 10vh;
    background-color:#1ec0ff;
}
h1{
    background-color:grey;
    color: White;
    /* text-align: center; */
    padding-top:20px;   
}

header ul{
    position: relative;
    float:right;
}
header li{
    display: inline-block;
    text-decoration: none;
    padding-right: 16px;
    font-size: 19px;
}

header a{
    text-decoration: none;
}

main{
    /* background-color: purple; */
     min-height: 80vh;
     width: 50%;
     margin: 0 auto;
     border: 5px solid black;
 }
 
 .side-nav-bar-left{
     width: 25%;
     float: left;
     border: solid rgb(128, 94, 0);
     background-color:olive;
     height: 520px;
 }
.side-nav-bar-right{
    width: 25%;
    float: right;
    background-color: lightgrey;
    border: solid red;
}
.side-nav-bar-main{
    width: 42%;
    float: right;
    border:solid blue;
    height: 520px;
    background-color: lightseagreen;
}
.side-nav-bar-bottom{
    clear: both;
    background-color:green;
    border: solid orange;


}

.side-nav-bar-left, 
.side-nav-bar-right, 
.side-nav-bar-main,
.side-nav-bar-bottom{
    margin: 1%;

}
 
 
 
 
 
 
 
 footer{
     height: 10vh;
     background-color:#1ec0ff;
 }
 